
/* Game Icon images
---------------------------------------- */
.icon-game {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url("./images/icon_game.gif");
}

.rtl .icon-game {
	background-position: 100% 50%;
}

div.games {
	padding: 10px 0 0 5px;
}

.column_game_image {
	float: left;
	clear: left;
	width: 24%;
}

.column_game_info {
	float: right;
	clear: right;
	width: 74%;
}

dd.gamer75, dd.gamer35, dd.game_desc {
	display: block;
	position: absolute;
	right: 5px;
	top: 0;
	margin: 0;
	width: auto;
	min-width: 0;
	text-align: left;
}

dd.gamer75 > span, dd.gamer35 > span, dd.game_desc > span {
	display: block;
	padding-left: 5px;
}

dd.gamer75 {
	width: 75%;
}

dd.gamer35 {
	width: 35%;
}

dd.game_desc {
	width: 75%;
}
