<script type="text/javascript">
// <![CDATA[ 
// img_enlarge() and img_return() by madmartyau aka Martin Eddy
function img_enlarge(obj)
{	
	if ({IMAGE_HOVER})
	{
		var newImg = new Image();
		newImg.src = obj.src;
		var height = newImg.height;
		var width = newImg.width;
		var yoffset = (({SMALL_HEIGHT}-height)-2)+"px";
		var xoffset = (({SMALL_WIDTH}-width)-2)+"px";
		
		obj.width = width;
		obj.height= height;
		obj.style.marginTop = yoffset;
		obj.style.marginLeft = xoffset;
		obj.style.border="1px solid white";
	}
}
function img_return(obj)
{
	if ({IMAGE_HOVER})
	{
		obj.width='{SMALL_WIDTH}';
		obj.height='{SMALL_HEIGHT}';
		obj.style.marginTop='0px';
		obj.style.marginLeft='0px';
		obj.style.border="none";
	}
}
// ]]>
</script>
<!-- IF GAME_COUNT -->
<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- IF S_GAME_PLAY -->
			<h3>{L_GAMES_PLAY}</h3>
				<!-- BEGIN game_play -->
					<a href="{game_play.U_GAME}" title="{game_play.NAME}">&nbsp;<strong>{game_play.NAME}</strong></a>
				<!-- END game_play -->
			<hr \>
		<!-- ENDIF -->
		<h3>{L_GAMES}:&nbsp;<b>{GAME_COUNT}</b></h3>
			<!-- BEGIN game -->
				<a href="{game.U_GAME}" title="{game.NAME}">{game.IMAGE}</a>
			<!-- END game -->	
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->