<!-- INCLUDE ucp_header.html -->

<!-- IF S_SHARE_ADD_USER -->
<h2>{L_GAMES_SHARING}</h2>
<!-- ELSE -->
<h2>{L_GAMES}</h2>
<!-- ENDIF -->

<div class="panel">
	<div class="inner">

	<!-- IF not S_SHARE_ADD_USER --><h3><!-- IF S_IS_OWNED_GAMES -->{L_GAMES_EXPLAIN}<!-- ELSE -->{L_ADDGAMES_EXPLAIN}<!-- ENDIF --></h3><!-- ENDIF -->

	<!-- IF .breadcrumb -->
		<p>
			<strong>
				<a href="{U_MAIN}">{L_CATPAGES}</a>
				<!-- BEGIN breadcrumb -->
					 -&gt; <!-- IF not breadcrumb.S_CURRENT_LEVEL --><a href="{breadcrumb.U_GAME}"><!-- ENDIF -->{breadcrumb.GAME_CAT}<!-- IF not breadcrumb.S_CURRENT_LEVEL --></a><!-- ENDIF -->
				<!-- END breadcrumb -->
			</strong>
		</p>
	<!-- ENDIF -->

	<!-- IF S_GAME_CAT -->
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt><!-- IF S_IS_OWNED_GAMES -->{L_GAMES}<!-- ELSE -->{L_GAMES_UNOWNED}<!-- ENDIF --></dt>
				</dl>
			</li>
		</ul>

		<ul class="topiclist cplist pmlist responsive-show-all">
		<!-- IF .games_cat -->
			<!-- BEGIN games_cat -->
			<li class="row<!-- IF games_cat.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl class="icon forum_read">
					<dt>
						<div class="list-inner">
							<a href="{games_cat.U_GAME}" class="forumtitle">{games_cat.GAME_NAME}</a>
						</div>
					</dt>
				</dl>
			</li>
			<!-- END games_cat -->
		<!-- ELSE -->
			<li class="row bg1">
				<dl class="icon forum_read_locked">
					<dt>
						<div class="list-inner">
							{L_NO_CATS}
						</div>
					</dt>
				</dl>
			</li>
		<!-- ENDIF -->
		</ul>
	<!-- ENDIF -->

	<!-- IF S_GAME -->
		<div class="action-bar top">
			<!-- IF .pagination or TOTAL_GAMES -->
				<div class="pagination">
					{TOTAL_GAMES}
					<!-- IF .pagination -->
						 &bull; <!-- INCLUDE pagination.html -->
					<!-- ELSE -->
						 &bull; {PAGE_NUMBER}
					<!-- ENDIF -->
				</div>
			<!-- ENDIF -->
		</div>

		<ul class="topiclist two-columns">
			<li class="header">
				<dl>
					<dt><div class="list-inner"><!-- IF S_IS_OWNED_GAMES -->{L_GAMES}<!-- ELSE -->{L_GAMES_UNOWNED}<!-- ENDIF --></div></dt>
					<!-- IF S_IS_OWNED_GAMES --><dd class="lastpost"></dd><!-- ENDIF -->
					<dd class="mark">{L_SELECT}</dd>
				</dl>
			</li>
		</ul>

		<form id="ucp" method="post" action="{U_ACTION}{S_FORM_ENCTYPE}">

		<ul class="topiclist two-columns responsive-show-columns">
		<!-- IF .games -->
			<!-- BEGIN games -->
			<li class="row<!-- IF games.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl>
					<dt>
						<div class="list-inner">
							<strong>{games.GAME_NAME}</strong><br />
							<img src="{games.GAME_IMAGE}" />
						</div>
					</dt>
					<dd class="mark"><input type="checkbox" name="selected[]" value="{games.GAME_ID}"  MULTIPLE /></dd>
				</dl>
			</li>
			<!-- END games -->
		<!-- ELSE -->
			<li class="row bg1">
				<dl>
					<dt>
						<div class="list-inner">
							{L_NO_GAMES}
						</div>
					</dt>
				</dl>
			</li>
		<!-- ENDIF -->
		</ul>

		<fieldset>
		<div class="right-box">
			<input class="button2" type="submit" name="submit" value="{L_SUBMIT}" />
			{S_FORM_TOKEN}
		</div>
		</fieldset>

		</form>
	<!-- ENDIF -->

	<!-- IF S_SHARE_ADD_USER -->
		<!-- IF S_ERROR -->
		<p class="error">{ERROR_MSG}</p>
		<!-- ENDIF -->

		<form method="post" id="ucp" action="{U_POST_ACTION}">
		<fieldset>
		<dl>
			<dt><label for="username">{L_SELECT_USER}:</label></dt>
			<dd><input name="username" id="username" type="text" class="inputbox" /></dd>
			<dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd>
		</dl>
		</fieldset>

		<fieldset class="submit-buttons">
			<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
			<input type="submit" name="submituser" value="{L_SUBMIT}" class="button1" />
			{S_FORM_TOKEN}
		</fieldset>
		</form>
	<!-- ENDIF -->

	</div>
</div>


<!-- INCLUDE ucp_footer.html -->
