<!-- INCLUDE ucp_header.html -->
<h2>{L_GAMES_SHARE}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{L_GAME}</dt>
					<dd class="mark">{L_GAMES_SHARED}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist">
		<!-- BEGIN share -->
		<li class="row<!-- IF share.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<dt>
				 {share.GAME_NAME}<br />{share.GAME_IMAGE}
				 </dt>
				<dd class="mark">{share.SHARED_TO}</dd>
			</dl>
		</li>
		<!-- END share -->
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- INCLUDE ucp_footer.html -->
