<!-- INCLUDE ucp_header.html -->
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
<table class="tablebg" width="100%" cellspacing="1">
<tr><td class="row1" colspan="2"><span class="genmed">{L_CATPAGES}<!-- BEGIN catlinkrow --> &bull; <a href="{catlinkrow.U_CATPAGE}">{catlinkrow.GAME_CAT}</a><!-- END catlinkrow --></span><span class="genmed" style="float:right" align="right"><!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></span></td>
	
		</tr>
<tr>
	<th colspan="2">{L_ADDGAMES}</th>
</tr>
<tr>
	<td class="row1" colspan="2" align="center"><span class="genmed">{L_ADDGAMES_EXPLAIN}</span></td>
</tr>
		<!-- BEGIN unowned -->
		<!-- IF unowned.IS_CAT -->
		<tr>
			<td class="row3" colspan="2">
				<table width="100%" cellspacing="1">
				<tr>
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{unowned.CAT_NAME} {L_CAT}<br /></td>
				</tr>
				</table>
			</td>
		</tr>
		<!-- ELSE -->
		<!-- IF unowned.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td style="padding: 4px;" width="99%" valign="top">
				<p class="topictitle">{unowned.GAME_NAME}</p>
				<span class="gensmall">{unowned.GAME_IMAGE}</span>
			</td>		
			<td style="padding: 4px;"><input type="checkbox"  class="radio"name="selected[]" value="{unowned.GAME_ID}"  MULTIPLE></td>	
		</tr>
		<!-- ENDIF -->
		<!-- END unowned -->	
<tr>
	<td class="cat" colspan="2" align="{S_CONTENT_FLOW_END}"><input class="btnlite" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;</td>
</tr>
</table>
{S_FORM_TOKEN}
</form>
<!-- INCLUDE ucp_footer.html -->